<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @network.title %>
</p>

<p>
  <b>Code:</b>
  <%= @network.code %>
</p>

<p>
  <b>Small:</b>
  <%= @network.small %>
</p>


<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
